<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ngx-dhis2-org-unit-filter
        [orgUnitFilterConfig]="orgUnitFilterConfig"
        [selectedOrgUnitItems]="selectedOrgUnitItems"
        (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
        (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
      >
      </ngx-dhis2-org-unit-filter>
    </div>
    <div class="col-md-9">
      <div
        *ngIf="
          (orgUnitFormsInfo$ | async) && (orgUnitFormsInfo$ | async)['programs']
        "
      >
        <select
          class="form-control"
          (change)="getSelectedForm($event.target.value)"
          *ngIf="(orgUnitFormsInfo$ | async)['programs']"
          [(ngModel)]="selectedForm"
        >
          <option
            [value]="form.id"
            *ngFor="let form of (orgUnitFormsInfo$ | async)['programs']"
            >{{ form.name }}</option
          >
        </select>
        <select
          class="form-control"
          (change)="getSelectedAggregateForm($event.target.value)"
          *ngIf="(orgUnitFormsInfo$ | async)['dataSets']"
        >
          <option
            [value]="form.id"
            *ngFor="let form of (orgUnitFormsInfo$ | async)['dataSets']"
            >{{ form.name }}</option
          >
        </select>
      </div>
      <div *ngIf="selectedFormReady">
        <ngx-dhis2-custom-forms-entry
          [htmlCustomForm]="htmlCustomForm"
          [dataElements]="dataElements"
          [formType]="formType"
          [formId]="formId"
          (onCustomFormInputChange)="detailsOfTheChangedValue($event)"
          [statusUpdateOnDomElement]="statusArr"
        >
        </ngx-dhis2-custom-forms-entry>
      </div>
    </div>
  </div>
</div>
